* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Lato', sans-serif;
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__search {
    margin-left: 41px;
}
.header__cabinet {
    margin-left: 34px;
    margin-right: 34px;
}
.promo {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}
.promo__left {
    width: 50%;
}
.promo__img {
    width: 100%;
}
.promo__right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 64px;
}
.promo__content {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}
.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}
.catalog__item {
    position: relative;
}
.catalog__item:not(:last-child) {
    margin-right: 30px;
}
.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}
.catalog__text {
    color: #FFFFFF;
}
.catalog__heading {
    color: #F16D7F;
}
.catalog__img {
    width: 100%;
}
.catalog-big {
    margin-top: 30px;
    position: relative;
}
.catalog-big__img {
    width: 100%;
}
.product-box {
    padding-top: 97px;
}
.product-box__heading {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.product-box__text {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.product {
    width: 360px;
    background: #F8F8F8;
    position: relative;
}
.product:hover .product__img {
    filter: brightness(50%);
}
.product:hover .product__add {
    display: flex;
}
.product_mb {
    margin-bottom: 30px;
}
.product-content {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__info {
    padding: 24px 16px 20px;
}
.product__name {
    font-size: 13px;
    line-height: 16px;
    color: #000;
}
.product__text {
    margin-top: 12px;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.product__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    width: 139px;
    height: 44px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.product__add img {
    padding-right: 11px;
}
.product__add:hover {
    box-shadow: 0 0 5px #fff;
}
.button-wrapper {
    text-align: center;
}
.show-more {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 39px;
    display: inline-block;
    margin-top: 18px;
}
.show-more:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}
.advantages {
    background: #222224;
    height: 341px;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage__heading {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}
.advantage__text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
.subscribe-block {
    height: 448px;
    background: url(img/photo_subscribe.png) no-repeat;
    background-size: cover;
    background-position: center left;
}
.subscribe__inner {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
    height: 100%;
}
.subscribe__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe__left .subscribe__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 360px;
    margin-top: 30px;
}
.subscribe__right {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 64px;
    flex-direction: column;
    justify-content: center;
}
.subscribe__heading {
    margin-bottom: 32px;
}
.subscribe__head {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.subscribe__right .subscribe__text {
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.subscribe__right .wrapper {
    position: relative;
}
.subscribe__input {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border: 0;
    border-radius: 30px;
    width: 356px;
    padding: 17px 22px;
}
.subscribe__submit {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 17px 20px;
    background: #F16D7F;
    border-radius: 0 30px 30px 0;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer {
    background: #222224;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.socials {
    display: flex;
}
.social a {
    padding: 0 11px;
    background-color: #fff;
    height: 32px;
    display: flex;
    align-items: center;
}
.social a:hover {
    background-color: #F16D7F;
}
.social a:hover svg {
    fill: #fff;
}
.social:not(:last-child) {
    margin-right: 7px;
}